@model eTrade.Models.Markalar
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <h2>Yeni Marka oluştur.</h2>
    @using (Html.BeginForm("Create", "Marka", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(x => x.MarkaAd, new { @class = "form-control", placeholder = "Marka Adı" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(x => x.Aciklama, 7, 3, new { @class = "form-control", placeholder = "Açıklama" })
        </div>
        <div class="form-group">
            <label>
                Bir fotoğraf seçiniz.
            </label>
            @Html.TextBox("txtFoto", null, new { @class = "form-control", type = "file" })
        </div>
        <button type="submit" class="btn btn-success">Kaydet</button>
    }
</div>

